/*
Datos Personales:
Nombre Completo: Daniel Rodríguez Fernández
ID Universitario: UO293655

Estilos generales del proyecto MotoGP-Desktop 
*/

body {
    font-family: Verdana, sans-serif;   /* Especificidad: 001 */
    background-color: #c6b79b;  /* Especificidad: 001 */
    color: #2f2440;  /* Especificidad: 001 */
}

header {
    background-color: #ba0f30; /* Especificidad: 001 */
}

h1, nav {
    color: #ffffff; /* Especificidad: 002 */
}

