/*
Datos Personales:
Nombre Completo: Daniel Rodríguez Fernández
ID Universitario: UO293655

Estilos generales del proyecto MotoGP-Desktop 
*/

/*
Paleta usada:

Burgundy
#ba0f30

Purple Haze
#2f2440

Sand Dollar
#c6b79b

Red
#ff2511
*/

/* Especificidad: 001 */
body {
    font-family: Verdana, sans-serif;
    background-color: #c6b79b;
    color: #2f2440;
}

/* Especificidad: 001 */
header {
    color: #ffffff; 
    background-color: #ba0f30;
}

/* Especificidad: 010*/
.active{
    background-color: #ff2511
    /* Advertencia: Herencia de la propiedad color de body #ffffff */
}

/* Especificidad: 011 */
p:first-of-type{
    font-size: 0.75em;
}
